html,
body {
  @apply text-base;
  font-family: 'New York', -apple-system-ui-serif, ui-serif, 'Georgia', serif;
  background-color: #f8f2e2;
  font-family: #444444;
}

@layer utilities {
  .smallcaps {
    font-variant: small-caps;
  }
}

main a {
  @apply underline decoration-dotted transition-all duration-200 ease-in-out rounded-md;
  &:hover {
    @apply text-moss p-1 -m-1 bg-moss/10;
  }
}

.highlight {
  @apply bg-moss/20;
}
